body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: aliceblue;
  /* text-align: center; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
}

.home {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  /* display: flex; */
  margin-bottom: 30px;  
  /* justify-content: space-between;
  flex-direction: column;
  text-align: left; */
} 

.login-component {
  /* text-align: center; */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-component {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-login-form {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-width: 80vh;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.contact-container {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 60%;
}

.contact-individual {
  border: 2px groove blue;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 25px;
  padding: 25px 50px;
}

.contact-individual:hover {
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .3s ease; 
  transform: translate3D(0,-1px,0) scale(1.03);
}

.hidden {
  display: none;
}

div .img-thumbnail-container {
  max-width: 300px;
}

div .calendar {
  font-size: var(--fc-small-font-size, .75em);
  white-space: normal;
  /* overflow-wrap: break-word; */
  word-break: break-word;
}
